/*header*/
/* Personnalisation de la navbar */
/* Modifier le style de la navbar */
.navbar {
    background-color: #111 !important; /* Couleur sombre */
}

/* Couleur et taille des liens */
.nav-link {
    color: #fff !important;
    margin-right: 15px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

/* Couleur au survol des liens */
.nav-link:hover {
    color: #00e0ff !important; /* Accent néon */
}

/* Style du bouton hamburger */
.navbar-toggler {
    border: none; /* Supprime la bordure par défaut */
}

.navbar-toggler-icon {
    background-color: #222121; /* Couleur des trois traits */
    border-radius: 2px;
}
/* Logo dans la navbar */
.navbar-brand img {
    height: 40px; /* Taille du logo */
    width: auto;  /* Conserve les proportions */
    border-radius: 35px; /* Coins arrondis */
    transition: transform 0.3s ease; /* Animation au survol */
}

/* Effet au survol du logo */
.navbar-brand img:hover {
    transform: scale(1.1); /* Agrandissement léger */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre */
}

/* Marges pour positionner correctement le logo */
.navbar-brand {
    display: flex;
    align-items: center; /* Aligne le texte et l'image verticalement */
    gap: 10px; /* Espace entre le logo et le texte */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement */
}



/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer p {
    font-size: 1rem;
    color: #d1d1d1;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    color: #fff;
    font-size: 1.8rem;
    transition: color 0.3s, transform 0.3s;
}

.social-links a:hover {
    color: #007bff;
    transform: scale(1.2);
}